// | -------------------------------------------------------------
// | Globals
// | -------------------------------------------------------------

@use 'base/reset';
@use 'base/root';
@use 'base/font';
@use 'base/list';
@use 'base/container';
@use 'base/breakpoint';
@use 'base/button';
@use 'base/color';
@use 'base/outline';
@use 'base/space-content';

/* UTILITY CLASSES */

.color__accent {
  color: var(--accent-300);
}

.subhead {
  font-size: 1.1rem;
  letter-spacing: 0.3;
  text-transform: uppercase;
}

.ribbon {
  background-color: var(--ribbon-color);
  width: 100%;
  height: var(--space-s);
}
