// | -------------------------------------------------------------
// | Globals
// | -------------------------------------------------------------

@use 'base/reset';
@use 'base/root';
@use 'base/font';
@use 'base/list';
@use 'base/container';
@use 'base/breakpoint';
@use 'base/button';
@use 'base/color';
@use 'base/outline';
@use 'base/space-content';

/* UTILITY CLASSES */

.color__accent {
  color: var(--accent-300);
}

.subhead {
  font-size: var(--size-step-1);
  letter-spacing: 0.3;
  text-transform: uppercase;
}

.ribbon {
  margin-block-start: 0;
  border-block-start: none;
  background-color: var(--ribbon-color);
  width: 100%;
  height: var(--space-s);
}

.lede-text {
  font-weight: 500;
  font-size: var(--size-step-3);
}

.heading-text {
  max-width: 22ch;
  font-weight: 200;
  font-size: var(--size-step-5);
  line-height: var(--leading-flat);
  text-wrap: balance;
}

.img-headshot {
  max-height: 500px;
}

.image {
  border-radius: var(--radius-m);
}
