// | -------------------------------------------------------------
// | Button
// | -------------------------------------------------------------

.button {
  --focus-color: var(--color-accent);
  --button-bg: var(--color-dark);
  --button-arrow: currentColor;
  --button-text: var(--color-mid);
  --button-gutter: 0.8ch;
  --button-border: none;
  --button-border-radius: 999em; /* 999em; /* Creates pill shape */
  --button-x-padding: 1.2em;
  --button-y-padding: 0.8em;
  --button-text-transform: lowercase;
  --button-letter-spacing: var(--uppercase-tracking);
  --button-font-size: var(--size-step--1);
  --button-font-weight: 600;
  --focus-color: var(--color-accent);

  display: inline-flex;
  position: relative;
  align-items: center;
  gap: var(--button-gutter);
  cursor: pointer;
  border: var(--button-border);
  border-radius: var(--button-border-radius);
  background: var(--button-bg);
  padding: var(--button-y-padding) var(--button-x-padding);
  color: var(--button-text);
  font-weight: var(--button-font-weight);
  font-size: var(--button-font-size);
  line-height: var(--leading-flat);
  letter-spacing: var(--button-letter-spacing);
  text-decoration: none;
  text-transform: var(--button-text-transform);
}

.button:hover {
  filter: brightness(115%);
}

.button:active {
  transform: scale(99%);
}

// &.size-tiny {
//   padding: 0.125rem 0.25rem;
//   font-size: 0.75rem;
//   line-height: 1.125rem;
// }

// &.size-small {
//   padding: 0.25rem 0.5rem;
//   font-size: 0.875rem;
//   line-height: 1.3125rem;
// }

// &.size-large {
//   padding: 0.75rem 1rem;
//   font-size: 1.125rem;
//   line-height: 1.6875rem;
// }

// &.size-huge {
//   padding: 1rem 2rem;
//   font-size: 1.25rem;
//   line-height: 1.875rem;
// }

// &.behavior-full {
//   display: block;
//   width: 100%;
// }

// &.type-secondary {
//   background-color: transparent;

//   &:hover,
//   &:focus {
//     background-color: transparent;
//   }
// }

.button .has-icon {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.button .has-icon [data-icon] {
  width: 30px;
  height: auto;
}

.darkmode .button.type-secondary {
  color: var(--color-accent);
}

.darkmode .button {
  background-color: var(--color-primary);
  color: var(--color-dark);
}
