// | -------------------------------------------------------------
// | Root
// | -------------------------------------------------------------

@use 'color' as *;

:root {
  color-scheme: light dark;
  interpolate-size: allow-keywords;

  @each $color, $shades in $colors {
    @each $shade, $value in $shades {
      --#{$color}-#{$shade}: #{$value};
    }
  }

  /* VARIABLES */
  --gutter: var(--space-m-l);
  --transition-base: 250ms ease;
  --transition-movement: 200ms linear;
  --transition-fade: 300ms ease;
  --transition-bounce: 500ms cubic-bezier(0.5, 0.05, 0.2, 1.5);
  --stroke-width: 1px;
  --stroke: var(--stroke-width) dashed var(--color-dark);
  --stroke-solid: (--stroke-width) solid var(--color-dark);
  --radius-s: 0.2rem;
  --radius-m: 0.75rem;
  --radius-l: 2.5rem;
  --uppercase-tracking: 0.04ch;
  --wrapper-max-width: 1360px;
  --ribbon-color: var(--color-primary);
  --logo-name: var(--color-dark);
  --logo-loop: var(--color-mid);
  --logo-badge: var(--color-primary);
  --flow-space: var(--space-l);

  /* Sizing and spacing */
  /* FLUID TYPE SCALE */

  /* @link https://utopia.fyi/type/calculator?c=320,16,1.2,1240,18,1.25,8,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

  --size-step-00000: clamp(0.4608rem, 0.4897rem + -0.0373vw, 0.4823rem);
  --size-step-0000: clamp(0.576rem, 0.5796rem + -0.0047vw, 0.5787rem);
  --size-step-000: clamp(0.6944rem, 0.6856rem + 0.0444vw, 0.72rem);
  --size-step-00: clamp(0.8333rem, 0.8101rem + 0.1159vw, 0.9rem);
  --size-step-0: clamp(1rem, 0.9565rem + 0.2174vw, 1.125rem);
  --size-step-1: clamp(1.2rem, 1.1283rem + 0.3587vw, 1.4063rem);
  --size-step-2: clamp(1.44rem, 1.3295rem + 0.5527vw, 1.7578rem);
  --size-step-3: clamp(1.728rem, 1.5648rem + 0.8161vw, 2.1973rem);
  --size-step-4: clamp(2.0736rem, 1.8395rem + 1.1704vw, 2.7466rem);
  --size-step-5: clamp(2.4883rem, 2.1597rem + 1.6433vw, 3.4332rem);
  --size-step-6: clamp(2.986rem, 2.5319rem + 2.2705vw, 4.2915rem);
  --size-step-7: clamp(3.5832rem, 2.9636rem + 3.0978vw, 5.3644rem);
  --size-step-8: clamp(4.2998rem, 3.463rem + 4.1838vw, 6.7055rem);

  /* @link https://utopia.fyi/space/calculator?c=320,16,1.2,1240,18,1.25,8,2,&s=0.75|0.5|0.25,1.5|2|3|4|5|6|7,s-l|m-xl|l-3xl&g=s,l,xl,12 */

  --space-3xs: clamp(0.25rem, 0.2283rem + 0.1087vw, 0.3125rem);
  --space-2xs: clamp(0.5rem, 0.4783rem + 0.1087vw, 0.5625rem);
  --space-xs: clamp(0.75rem, 0.7065rem + 0.2174vw, 0.875rem);
  --space-s: clamp(1rem, 0.9565rem + 0.2174vw, 1.125rem);
  --space-m: clamp(1.5rem, 1.4348rem + 0.3261vw, 1.6875rem);
  --space-l: clamp(2rem, 1.913rem + 0.4348vw, 2.25rem);
  --space-xl: clamp(3rem, 2.8696rem + 0.6522vw, 3.375rem);
  --space-2xl: clamp(4rem, 3.8261rem + 0.8696vw, 4.5rem);
  --space-3xl: clamp(5rem, 4.7826rem + 1.087vw, 5.625rem);
  --space-4xl: clamp(6rem, 5.7391rem + 1.3043vw, 6.75rem);
  --space-5xl: clamp(7rem, 6.6957rem + 1.5217vw, 7.875rem);

  /* One-up pairs */
  --space-3xs-2xs: clamp(0.25rem, 0.1413rem + 0.5435vw, 0.5625rem);
  --space-2xs-xs: clamp(0.5rem, 0.3696rem + 0.6522vw, 0.875rem);
  --space-xs-s: clamp(0.75rem, 0.6196rem + 0.6522vw, 1.125rem);
  --space-s-m: clamp(1rem, 0.7609rem + 1.1957vw, 1.6875rem);
  --space-m-l: clamp(1.5rem, 1.2391rem + 1.3043vw, 2.25rem);
  --space-l-xl: clamp(2rem, 1.5217rem + 2.3913vw, 3.375rem);
  --space-xl-2xl: clamp(3rem, 2.4783rem + 2.6087vw, 4.5rem);
  --space-2xl-3xl: clamp(4rem, 3.4348rem + 2.8261vw, 5.625rem);
  --space-3xl-4xl: clamp(5rem, 4.3913rem + 3.0435vw, 6.75rem);
  --space-4xl-5xl: clamp(6rem, 5.3478rem + 3.2609vw, 7.875rem);

  /* Custom pairs */
  --space-s-l: clamp(1rem, 0.5652rem + 2.1739vw, 2.25rem);
  --space-m-xl: clamp(1.5rem, 0.8478rem + 3.2609vw, 3.375rem);
  --space-l-3xl: clamp(2rem, 0.7391rem + 6.3043vw, 5.625rem);

  /* @link https://utopia.fyi/type/calculator?c=320,18,1.2,1240,20,1.25,6,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
  // --size-step--2: clamp(0.7813rem, 0.7747rem + 0.0326vw, 0.8rem);
  // --size-step--1: clamp(0.9375rem, 0.9158rem + 0.1087vw, 1rem);
  // --size-step-0: clamp(1.125rem, 1.0815rem + 0.2174vw, 1.25rem);
  // --size-step-1: clamp(1.35rem, 1.2761rem + 0.3696vw, 1.5625rem);
  // --size-step-2: clamp(1.62rem, 1.5041rem + 0.5793vw, 1.9531rem);
  // --size-step-3: clamp(1.944rem, 1.771rem + 0.8651vw, 2.4414rem);
  // --size-step-4: clamp(2.3328rem, 2.0827rem + 1.2504vw, 3.0518rem);
  // --size-step-5: clamp(2.7994rem, 2.4462rem + 1.7658vw, 3.8147rem);
  // --size-step-6: clamp(3.3592rem, 2.8691rem + 2.4507vw, 4.7684rem);

  /* Leading text (ratio-based leading/line-height values) */
  --leading-micro: 0.85;
  --leading-flat: 1;
  --leading-fine: 1.2;
  --leading-standard: 1.4;
  --leading-loose: 1.7;

  /* Text weights */
  --font-regular: 400;
  --font-medium: 500;
  --font-bold: 700;
  --font-black: 900;

  /* Viewports */
  --viewport-min: 300px;
  --viewport-mid: 760px;
  --viewport-large: 940px;
  --viewport-max: 1350px;
}

/* COMPOSITIONS */

/* ~ CLUSTER ~
More info: https://every-layout.dev/layouts/cluster/
A layout that lets you distribute items with consitent
spacing, regardless of their size

CUSTOM PROPERTIES AND CONFIGURATION
--gutter (var(--space-m)): This defines the space
between each item.

--cluster-horizontal-alignment (flex-start): How items should align
horizontally. Can be any acceptable flexbox alignment value.

--cluster-vertical-alignment (center): How items should align vertically.
Can be any acceptable flexbox alignment value.
*/

.cluster {
  display: flex;
  flex-wrap: wrap;
  justify-content: var(--cluster-horizontal-alignment, flex-start);
  align-items: var(--cluster-vertical-alignment, center);
  gap: var(--gutter, var(--space-m));
}

/* ~ FLOW COMPOSITION ~
Like the Every Layout stack: https://every-layout.dev/layouts/stack/
Info about this implementation: https://piccalil.li/blog/my-favourite-3-lines-of-css/ 
*/

.flow > * + * {
  margin-block-start: var(--flow-space, 1em);
}

/* ~ AUTO GRID ~
Related Every Layout: https://every-layout.dev/layouts/grid/
More info on the flexible nature: https://piccalil.li/tutorial/create-a-responsive-grid-layout-with-no-media-queries-using-css-grid/
A flexible layout that will create an auto-fill grid with
configurable grid item sizes

CUSTOM PROPERTIES AND CONFIGURATION
--gutter (var(--space-m)): This defines the space
between each item.

--grid-min-item-size (14rem): How large each item should be
ideally, as a minimum.

--grid-placement (auto-fill): Set either auto-fit or auto-fill
to change how empty grid tracks are handled */

.grid {
  display: grid;
  grid-template-columns: repeat(var(--grid-placement, auto-fill), minmax(var(--grid-min-item-size, 16rem), 1fr));
  gap: var(--gutter, var(--space-s-l));
}

// /* A split 50/50 layout */
.grid[data-layout='50-50'] {
  --grid-placement: auto-fit;
  --grid-min-item-size: clamp(16rem, 40vw, 33rem);
}

// /* Three column grid layout */
.grid[data-layout='thirds'] {
  --grid-placement: auto-fit;
  --grid-min-item-size: clamp(16rem, 33%, 20rem);
}

/* ~ REPEL ~
A little layout that pushes items away from each other where
there is space in the viewport and stacks on small viewports

CUSTOM PROPERTIES AND CONFIGURATION
--gutter (var(--space-m)): This defines the space
between each item.

--repel-vertical-alignment (center): How items should align vertically.
Can be any acceptable flexbox alignment value.
*/

.repel {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: var(--repel--vertical-alignment, center);
  gap: var(--gutter, var(--space-m));
}

.repel[data-nowrap] {
  flex-wrap: nowrap;
}

/* ~ SIDEBAR ~
More info: https://every-layout.dev/layouts/sidebar/
A layout that allows you to have a flexible main content area
and a "fixed" width sidebar that sits on the left or right.
If there is not enough viewport space to fit both the sidebar
width *and* the main content minimum width, they will stack
on top of each other

CUSTOM PROPERTIES AND CONFIGURATION
--gutter (var(--space-size-1)): This defines the space
between the sidebar and main content.

--sidebar-target-width (20rem): How large the sidebar should be

--sidebar-content-min-width(50%): The minimum size of the main content area

EXCEPTIONS
.sidebar[data-direction='rtl']: flips the sidebar to be on the right 
*/
.sidebar {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gutter, var(--space-s-l));
}

.sidebar:not([data-direction]) > :first-child {
  flex-grow: 1;
  flex-basis: var(--sidebar-target-width, 20rem);
}

.sidebar:not([data-direction]) > :last-child {
  flex-grow: 999;
  flex-basis: 0;
  min-width: var(--sidebar-content-min-width, 50%);
}

.sidebar[data-reversed] {
  flex-direction: row-reverse;
}

.sidebar[data-direction='rtl'] > :last-child {
  flex-grow: 1;
  flex-basis: var(--sidebar-target-width, 20rem);
}

.sidebar[data-direction='rtl'] > :first-child {
  flex-grow: 999;
  flex-basis: 0;
  min-width: var(--sidebar-content-min-width, 50%);
}

/* ~ SWITCHER ~
More info: https://every-layout.dev/layouts/switcher/
A layout that allows you to lay **2** items next to each other
until there is not enough horizontal space to allow that.

CUSTOM PROPERTIES AND CONFIGURATION
--gutter (var(--space-size-1)): This defines the space
between each item

--switcher-target-container-width (40rem): How large the container
needs to be to allow items to sit inline with each other

--switcher-vertical-alignment (flex-start): How items should align vertically.
Can be any acceptable flexbox alignment value.
*/
.switcher {
  display: flex;
  flex-wrap: wrap;
  align-items: var(--switcher-vertical-alignment, flex-start);
  gap: var(--gutter, var(--space-l));
}

.switcher > * {
  flex-grow: 1;
  flex-basis: calc((var(--switcher-target-container-width, 40rem) - 100%) * 999);
}

/* Max 2 items,
so anything greater than 2 is full width */
.switcher > :nth-child(n + 3) {
  flex-basis: 100%;
}

/* ~ WRAPPER COMPOSITION ~
A common wrapper/container
*/
.wrapper-pcli {
  position: relative;
  margin-inline: auto;
  padding-inline: var(--gutter);
  max-width: var(--wrapper-max-width, 1360px);
}

/* A centered button group element */
.btngrp {
  display: flex;
  justify-content: center;
  align-items: center;
}
