---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import Badges from '../components/Badges.astro'
import { Accordion, AccordionItem } from 'accessible-astro-components'
import ContentMedia from '../components/ContentMedia.astro'
---

<DefaultLayout title="About">
  <section>
    <div class="flow container">
      <hr class="ribbon" />
      <h1>About</h1>
      <div class="grid" data-layout="thirds">
        <div class="col-span-2 flex flex-col items-center gap-8 md:items-start">
          <p>
            A broken process is the kind of thing that keeps me up at night. Yep, I'm that person. If there's a problem
            to be solved, I'll be trying to solve it.
          </p>
          <p>
            I'm a generalist at heart, and if you check out my background and qualifications (scroll down), you'll see
            that I've got a varied set of skills and experiences. That comes from a lifetime of being curious and going
            where that takes me. My love of learning means I've built a lot of skills - from coding to teaching and
            plenty in between - and this all comes in handy supporting small business owners where no two days are the
            same.
          </p>
          <p>
            Learning new skills, building and fixing things aren't confined to my work life - when I'm not on my laptop
            you'll likely find me making my own clothes with a sewing machine or knitting needles, heading out on a
            bushwalk or relaxing with a cup of tea and a good book.
          </p>
        </div>
        <div class="headshot">
          <img class="image lg:block" src="/lauren-headshot-square.jpg" alt="Lauren Champs" decoding="async" />
        </div>
      </div>
    </div>
  </section>
  <section class="values">
    <div class="container grid" data-layout="50-50">
      <div class="flex flex-col items-start gap-4">
        <h2>My values</h2>
      </div>
      <div class="space-content accordion-section">
        <h3 class="text-3xl font-medium">Authentic</h3>
        <p>
          I'm a personal, down-to-earth and approachable introvert. There's no shiny veneer - what you see is what you
          get.
        </p>
        <h3 class="text-3xl font-medium">Resourceful</h3>
        <p>
          I'm good at identifying problems and coming up with practical solutions. I'm adaptable, open to new ideas and
          always seeking new knowledge and better ways of working.
        </p>
        <h3 class="text-3xl font-medium">Prudent</h3>
        <p>
          I do things properly and don't cut corners. That doesn't mean I'm not efficient. But I'm not going to
          sacrifice quality for speed. I take a measured approach and have your long-term success in mind.
        </p>
        <h3 class="text-3xl font-medium">Dependable</h3>
        <p>
          I'm with you every step of the way, committed to your success and always ready to roll up my sleeves and get
          to work.
        </p>
      </div>
    </div>
  </section>
  <section class="qualifications" id="qualifications">
    <div class="container grid" data-layout="thirds">
      <div>
        <h2>My qualifications</h2>
      </div>
      <div class="space-content">
        <ul>
          <li>
            15+ years in administrative roles in universities spanning IT project delivery, research systems, web +
            digital content management and customer service
          </li>
          <li>5+ years supporting a local creative business with online order fulfilment</li>
          <li>
            Countless hours researching, learning and using automation, task management, project management & platforms
            including <a href="https://www.notion.com/">Notion</a>, <a href="https://app.asana.com/">Asana</a>, <a
              href="https://zapier.com/">Zapier</a
            >, <a href="https://www.squarespace.com/">Squarespace</a>, <a href="https://getsproutstudio.com/"
              >Sprout Studio</a
            >, <a href="https://kajabi.com/">Kajabi</a>, <a href="https://www.make.com/en">Make</a> and more
          </li>
          <li>
            <a href="https://pll.harvard.edu/course/cs50-introduction-computer-science"
              >CS50x–Introduction to Computer Science</a
            > | Harvard University Online | 2023
          </li>
          <li>
            <a href="https://www.codelikeagirl.com/courses/web-development/">Foundations of Web Development</a> | Code Like
            A Girl | 2021
          </li>
          <li>Agile Project Management | CA Technologies | 2016</li>
          <li>Cert III in Sport Coaching | 2014</li>
          <li>Certificate in Teaching English to Speakers of Other Languages | Oxford TEFL Prague | 2007</li>
          <li>Bachelor of Physiotherapy | University of South Australia | 2003</li>
        </ul>
      </div>
    </div>
  </section>
  <section class="container">
    <Badges />
  </section>
</DefaultLayout>

<style>
  .values,
  .qualifications {
    padding: var(--space-l-3xl) 0;
  }

  .headshot {
    display: flex;
    justify-content: center;
    align-items: start;
  }

  .headshot img {
    display: block;
    max-width: 80%;
  }
</style>
