---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import Hero from '../components/Hero.astro'
import HeroVariation from '../components/HeroVariation.astro'
import Masthead from '../components/Masthead.astro'
import { Icon } from 'astro-icon/components'
import Feature from '../components/Feature.astro'
import Counter from '../components/Counter.astro'
import ContentMedia from '../components/ContentMedia.astro'
import { Accordion, AccordionItem } from 'accessible-astro-components'
import Testimonial from '../components/Testimonial.astro'
import TestimonialFeature from '../components/TestimonialFeature.astro'
import CallToAction from '../components/CallToAction.astro'
---

<DefaultLayout title="Home">
  <Masthead />
  <!-- <Hero /> -->
  <section class="expectation">
    <div class="container grid" data-layout="thirds">
      <div class="expectation__img">
        <img
          class="image lg:block"
          src="/laptop-and-plants-sq.jpg"
          alt="A laptop on a desk surrounded by plants"
          decoding="async"
        />
      </div>
      <div class="flow expectation__text">
        <p class="lede-text">If you're feeling overwhelmed by business admin, you're in the right place.</p>
        <p>
          Your business is growing but so is your to-do list. Things are starting to fall through the cracks, or you're
          working overtime to make sure they don't.
        </p>
        <p>
          You've got big plans for the future, but you're stuck in the day-to-day that feels more than a little hectic.
        </p>
        <!-- <p>
          You need someone who's logical and has the technical skills to deliver, who also really gets you and what you
          do.
        </p> -->
        <p>
          You need the right systems, tools and strategies to simplify your processes, free up your time and deliver the
          experience for your clients that truly reflects your brilliance.
        </p>
      </div>
    </div>
  </section>
  <section id="services">
    <div class="services-container container">
      <div class="flow">
        <h2>I'm here to help</h2>
        <p>I can help you create structure behind the scenes so you don't feel like you're winging it.</p>
      </div>
      <div class="grid" data-layout="thirds">
        <Feature name="screen-code" title="System setup">
          <p>
            Whether you're looking to implement new systems or fine-tune your existing setup, I can help you craft a
            business backend that works for you.
          </p>
          <p>
            Let's chat, explore the options and find a solution that suits you, then I can take the work of setting it
            up off your plate.
          </p>
        </Feature>
        <Feature name="workflow" title="Workflow automation">
          <p>
            As a business owner, chances are you're doing a lot of tasks (maybe even all of them!), and let's face it,
            some of them you'd happily get off your to-do list.
          </p>
          <p>
            Automating the right processes in your workflow will free up your time so you can focus on growing your
            business (or just take that time back for yourself - you deserve it).
          </p>
        </Feature>
        <!-- <Feature name="lightning" title="Process management">
          If the behind the scenes of your business gives you more of a sense of chaos than you'd like to admit, it's
          time to get your processes in order. Mapping your processes and documenting procedures may sound boring, but
          it's the key to turning that chaos into clarity and calm and creating a foundation that will enable you to
          scale (if that's what you want to do. It'll also enable you to take a break sometimes. Also important).
        </Feature> -->
        <Feature name="checkboxes" title="Ongoing support"
          ><p>If you can never seem to get on top of your to-do list, let me take some of the load.</p>
          <p>
            Whether it's online course launches, website updates, membership launches, content planning and creation or
            more, I'll be your right-hand (wo)man to get things done.
          </p></Feature
        >
        <!-- <Feature name="books" title="Documentation">
          Do your processes only exist in your head? I'll help you lighten the mental load by creating a set of
          lightweight guides that document what you do, how you do it, and when to take action.
        </Feature>
        <Feature name="canvas" title="Training">
          If you're struggling to use some of your existing tools or feel like you could be getting more out of them if
          you knew a bit more. I have experience with Notion, Asana, Squarespace, Google Workspace, Kajabi, Zapier,
          Make, Sprout Studio and more.
        </Feature> -->
        <!-- <Feature name="checkboxes" title="Getting things done">
          If you can never seem to get on top of your to-do list, let me take some of the load. Whether it's online
          course launches, website updates, inbox management, document creation, email campaigns or other support for
          your day-to-day operations, I've got you. I cover all this in my VA (virtual assistant) support packages.
        </Feature> -->
      </div>

      <!-- <p>
          If you can never seem to get on top of your to-do list, let me take some of the load. Whether it's online
          course launches, website updates, inbox management, document creation, email campaigns or other support for
          your day-to-day operations, I've got you. I cover all this in my VA (virtual assistant) support packages.
        </p> -->
      <div class="btngrp container">
        <a class="button has-icon" href="/quote"
          >Get in touch
          <Icon name="arrow-right" />
        </a>
      </div>
    </div>
  </section>
  <TestimonialFeature />
  <HeroVariation>
    <div class="flow">
      <p class="lede-text">
        I combine logical thinking, tech know-how and the love of a good process to streamline your business so you can
        get back to doing what you do best.
      </p>
      <p>
        Whether you're just starting out and want to create a solid foundation, or struggling to scale because your
        systems are holding you back, you'll get the support of someone who cares about your business and has the skills
        to set it up right.
      </p>
    </div>
  </HeroVariation>

  <!-- <ContentMedia imgSrc="/wcag-compliant.webp" reverseImg={true}>
    <h2>WCAG 2.2 AA Compliant</h2>
    <p class="text-2xl">
      Using semantic HTML, landmarks, skip links, screen reader friendly content, aria-labels, keyboard accessible
      navigation and components, clear outlines and tab indicators and the right color contrast, you're more certain of
      reaching WCAG AA compliance.
    </p>
  </ContentMedia> -->
  <!-- <section class="my-36">
    <div class="container grid grid-cols-1 gap-12 md:grid-cols-2">
      <div class="flex flex-col items-start gap-4">
        <h2>My values</h2>
      </div>
      <div class="space-content accordion-section">
        <h3 class="text-3xl font-medium">Authentic</h3>
        <p>
          I'm a personal, down-to-earth and approachable introvert. Living my values is important to me, so you can
          expect me to be honest, genuine and always doing my best.
        </p>
        <h3 class="text-3xl font-medium">Resourceful</h3>
        <p>
          I'm good at identifying problems and love coming up with practical solutions. I'm adaptable, open to new ideas
          and always seeking new knowledge and better ways of working.
        </p>
        <h3 class="text-3xl font-medium">Prudent</h3>
        <p>
          I do things properly and don't cut corners. I am efficient but I don’t sacrifice quality for speed. I take a
          measured approach and have your long-term success in mind.
        </p>
        <h3 class="text-3xl font-medium">Dependable</h3>
        <p>
          I'm with you every step of the way, committed to your success and always ready to roll up my sleeves and get
          to work.
        </p>
      </div>
    </div>
  </section> -->
  <!-- <section class="my-36">
    <div class="container grid grid-cols-1 gap-12 md:grid-cols-2">
      <div class="flex flex-col items-start gap-4">
        <h2>Frequently asked questions</h2>
      </div>
      <div class="space-content accordion-section">
        <Accordion>
          <AccordionItem name="exclusive" title="What is systemisation and do I need it?" open>
            <p>
              Systemisation is simply creating a system. In relation to your business, it's about creating systems to
              streamline your operations, improve efficiency and ultimately save you time & effort (and money!). It
              involves looking at what you do and how you do it, documenting existing processes, standardising tasks and
              identifying where you can either automate, delegate, or in some cases actually stop doing a task if it's
              not adding value. It may involve introducing new software or tools, and if we're working together it will
              always involve centering you and how you like to work.
            </p>
          </AccordionItem>
          <AccordionItem name="exclusive" title="What is automation?">
            <p>
              Automation, in the context I'm using it, means taking something that you or your team currently do
              manually, and making it happen automatically.
            </p>
            <p>
              To achieve this, we create rules that tell a piece of software, 'when this happens, do that', e.g. 'when a
              form is submitted, send an email'. There are many ways to implement automations, including advanced
              automations using APIs, webhooks and scripting. In most cases, I'll use 'no-code' or 'low-code' tools
              which are easier for you to maintain on an ongoing basis.
            </p>
            <p>
              Automation may incorporate AI tools if you're using them, but AI isn't an essential part of this process.
            </p>
          </AccordionItem>
          <AccordionItem name="exclusive" title="How much does it cost?">
            <p>
              The cost of streamlining your business operations varies depending on the size and complexity of your
              business, your goals, and where you're at right now.
            </p>
            <p>
              I offer a range of services to meet you where you are right now. From ad hoc VA (virtual assistant)
              support to systems audits and CRM implementation and everything in between. Systems and automation work I
              generally need to custom quote based on the scope, so please reach out for a chat and we can see what may
              be possible within your budget. For general VA services, my rates are between $45 and $65 per hour
              depending on the number of hours you require per month.
            </p>
          </AccordionItem>
          <AccordionItem name="exclusive" title="What makes you different from other VAs?">
            <p>
              I have a strong technical background, having undertaken foundational studies in computer science and web
              development. I'm also not affiliated with any particular software products, so if I make recommendations
              to you, they'll be based on my research as well as experience using a range of platforms, with a focus on
              how well they suit your requirements.
            </p>
            <p>
              No matter what stage you are at in your business, or how much chaos you feel is going on in behind the
              scenes, you won't get any judgment from me - just a genuine desire to help.
            </p>
          </AccordionItem>
          <AccordionItem
            name="exclusive"
            title="Can you help if I already have a CRM/other platform in place but it's not working out as well as I'd hoped?"
          >
            <p>
              Sure can. It's tempting to think that the latest software or tool that everyone's talking about is going
              to turn your chaos into order and have you living your business dreams. And maybe it will. But it doesn't
              always work like that. No software is perfect, and the tool is only one part - you also have to learn it,
              set it up optimally, fit it in with your other platforms and have systems in place to keep everything
              running smoothly.
            </p>
            <p>
              If you're struggling with a new tool, or looking for a refresh with something you've been using for a
              while, I can help you make some tweaks to your existing setup to get you back on track.
            </p>
          </AccordionItem>
        </Accordion>
      </div>
    </div>
  </section> -->
  <section class="testimonial-multiple">
    <div class="container">
      <div class="grid" data-layout="50-50">
        <Testimonial name="Nadine Brown" title="Founder, The Ivy Institute" image="/nadine-headshot-small.jpg">
          <div class="testimonial__text flow">
            <h3>“I feel incredibly supported by Lauren, she just gets it!”</h3>
            <p>
              “I can't tell how wonderful it is to have someone not only genuinely lovely & honest but that is just so
              <strong>super efficient, skilled & forward thinking</strong> as Lauren is. From web design to launches, resource
              and course creation to general admin, client communication and beyond, Lauren handles many facets of business
              now.
            </p>
            <p>
              I feel incredibly supported by Lauren, she just gets it! And I find myself handing over more & more of my
              business to her with complete trust. This for me has been life changing! One other factor that I'm finding
              so helpful is her <strong>ability to understand the customer journey</strong> & the high level of customer
              experience that I want to create, foreseeing any bump down the road with a solution focused mindset.”
            </p>
          </div>
        </Testimonial>
        <Testimonial name="Honey Atkinson" title="Photographer + visual storyteller" image="/honey-atkinson.jpg">
          <div class="testimonial__text flow">
            <h3>“Warm, honest, and incredibly easy to work with”</h3>
            <p>
              Lauren’s brain works at a high level in all the areas mine doesn’t! <strong
                >It’s such a relief to work with someone who can see the big picture clearly</strong
              >, especially when I tend to get caught up in the small details — as so many of us do when running a
              business. She’s warm, honest, and incredibly easy to work with. <strong
                >It’s been amazing having someone with her skills on hand</strong
              >, without the need to bring on permanent staff.”
            </p>
          </div>
        </Testimonial>
      </div>
    </div>
  </section>
  <CallToAction />
</DefaultLayout>

<style>
  @media (min-width: 900px) {
    .expectation__text {
      grid-column: 2/-1;
    }
  }

  @media (max-width: 900px) {
    .expectation__img {
      display: none;
    }
  }

  .expectation {
    background-color: #ffffff;
    padding: var(--space-l-3xl) 0;
    color: var(--dark-primary);
    --gutter: var(--space-2xl);
  }

  .expectation h2 {
    font-size: var(--size-step-3);
  }

  .expectation__img img {
    height: 100%;
    object-fit: cover;
  }

  .testimonial__text h3 {
    margin-block-end: 1.8rem;
    font-weight: 600;
    font-size: var(--size-step-2);
  }

  .testimonial-multiple {
    background-color: var(--color-light);
    padding: var(--space-5xl) 0;
    --gutter: var(--space-3xl);
  }

  #services {
    background-color: var(--color-mid);
    padding: var(--space-l-3xl) 0;
    --gutter: var(--space-m);
  }

  .services-container {
    display: flex;
    flex-direction: column;
    gap: var(--space-xl);
  }
</style>
