---
import DefaultLayout from '../layouts/DefaultLayout.astro'
---

<DefaultLayout title="Terms and Conditions">
  <section>
    <div class="flow container">
      <hr class="ribbon" />
      <div class="terms__content"></div>
      <h1>Terms and conditions</h1>
      <div class="terms grid" data-layout="thirds">
        <div class="terms__text flow">
          <p>Effective Date: 1 May 2025</p>
          <p>Welcome to www.laurenchamps.com.</p>
          <p>
            This Site is owned and operated by Lauren Champs (ABN 72 807 713 308)(referred to in these terms as “we”,
            “us”, and “our”). Please take the time to read the terms of use that are applicable to your use and
            enjoyment of this Site and the content made available to you via this Site and our social media channels, as
            well as your purchase of any products from our online store (“Terms”). These Terms, together with our <a
              href="/privacy">Privacy Policy</a
            >, apply to all Site visitors, subscribers, customers, and other users of our Site (“user”, “you” and
            “your”).
          </p>
          <h2>Acceptance of terms</h2>
          <p>
            By accessing and using this Site, our social media channels and any other materials made available to you on
            this Site, you are taken to accept our Terms. In doing so, you warrant that you:
          </p>
          <ul>
            <li>are over 18 years of age and have the legal capacity to enter into a legally binding contract;</li>
            <li>have read and accepted these Terms; and</li>
            <li>will comply with these Terms.</li>
          </ul>
          <h2>Changes to these terms</h2>
          <p>
            We reserve the right to change or modify these Terms at any time consistent with applicable laws and
            principles, without notice to you. These changes will be effective as of the date we post the revised
            version on this Site. It is your responsibility to review these Terms prior to use and periodically
            throughout your use of our Site. If at any time you choose not to accept these Terms, you should not access
            our Site.
          </p>
          <p>
            Your continued use of this Site is deemed acceptance of any modifications or amendment of these Terms. You
            may also accept these terms where you click “Agree” or “Accept” or “Submit” or “Book” where such an option
            is made available to you. If you’re uncertain about the Terms or anything else on our Site, please don’t
            hesitate to contact us before completing any purchase.
          </p>
          <h2>Intellectual property</h2>
          <p>
            Our Site contains intellectual property owned by us, and/or by third parties that license the content to us
            (“Third Party Licensed Intellectual Property”), including, without limitation, products, trade marks,
            copyrights, proprietary information, designs, patents, business names, logos, images, designs, copy, videos,
            audio files, graphics, other files, and software (“Content”). Your use of and access to our Site and its
            Content does not grant or transfer any rights, title or interest in it to you.
          </p>
          <h3>No commercial use</h3>
          <p>
            You may not modify, publish, transmit, participate in the transfer or sale of, create derivative works from,
            distribute, display, reproduce or perform, or in any way exploit in any format whatsoever our Site,
            products, services, Content, Intellectual Property or Third-Party Licensed Intellectual Property in whole or
            in part without our prior written consent. We reserve the right to immediately remove your access to our
            Site, products, services, and Content, without refund, if you are found to be violating these Terms.
          </p>
          <h3>Limited licence</h3>
          <p>
            We may offer digital products on our website from time to time. Where you download our digital products
            (including checklists, guides, ebooks, video or audio content) (“Digital Products”) or access our Content,
            you are granted a non-exclusive, non-transferable, limited licence to access and use these for your own
            personal purposes. You may not assign or transfer these Digital Products or our Content to any other person
            without our express written consent. We reserve the right to refuse to provide any products and/or services
            to you at any time for any reason.
          </p>
          <h3>Acknowledgement of author</h3>
          <p>
            Even if you have the consent of the author, you are at no time permitted to remove any copyright or other
            proprietary notations from the materials. You must always acknowledge the author, Lauren Champs, in a format
            that is agreed upon prior to any publication.
          </p>
          <p>
            Except as otherwise provided, you acknowledge and agree that you have no right to modify, edit, copy,
            reproduce, create derivative works of, reverse engineer, alter, sell, create derivative works of, enhance or
            in any way exploit any of our products (including any Digital Products and Content) in any manner whatsoever
            except as authorised by us.
          </p>
          <h2>Links to other websites</h2>
          <p>
            Our Site and social media channels may have links to other sites operated by third parties. Unless we
            expressly tell you otherwise, we do not in any way endorse, control or approve of, nor are we responsible
            for, the content on those sites. It’s up to you to decide if those sites and their content are suitable for
            you.
          </p>
          <h2>Privacy</h2>
          <p>
            These Terms also include our Privacy Policy which sets out how we use your personal information, which can
            be accessed at <a href="/privacy">www.laurenchamps.com/privacy</a>. By using this Site, you consent to the
            processing described in the Privacy Policy and warrant that all data provided by you is accurate.
          </p>
          <h2>Electronic communications and electronic signatures</h2>
          <p>
            You acknowledge and agree that you will be bound by any affirmation, acceptance or agreement that is
            transmitted through this Site, including but not limited to any consent you provide to receive
            communications from us by means of electronic transmission.
          </p>
          <p>
            You further acknowledge and agree that when you click on or tick “I agree”, “I consent”, or other similarly
            worded click or tick options by electronic means, your agreement will be legally binding and enforceable and
            will be deemed to be as effective as if you had written your signature by hand.
          </p>
          <h2>Information and advice</h2>
          <p>
            Any information provided on our Site, through blog posts, product descriptions or any other content, is
            intended for general informational purposes only and is not and is not intended to constitute or replace
            professional advice for individual or specific situations. As an ecommerce business selling both physical
            and digital products, we are not licensed professionals and cannot be held liable for any reliance on the
            information we provide, either on our Site or through our products.
          </p>
          <p>
            We do not accept responsibility for determining whether our products are appropriate for you. We reserve the
            right to deny service and refund the cost of that product for any reason, including where we believe that
            the product would be dangerous or not appropriate for you, or we believe that further professional advice
            should be sought.
          </p>
          <p>
            The sale of products on our Site or reference to any other products does not constitute endorsement or
            recommendation of those products unless explicitly stated otherwise.
          </p>
          <h2>Feedback, complaints and disputes</h2>
          <p>
            We are committed to ensuring your satisfaction with our products and services. If you encounter any issues
            or have concerns about your order, please contact us immediately so we can work to resolve them as quickly
            as possible. Should an issue not be resolved to your satisfaction while interacting with our customer
            service team, please follow this process:
          </p>
          <h3>Contact us</h3>
          <p>
            Contact us via our <a href="/contact">Contact form</a> or email us at hello@laurenchamps.com to submit your feedback.
            Please include:
          </p>
          <ul>
            <li>Your name</li>
            <li>Your email</li>
            <li>Details of your concern or complaint; and</li>
            <li>Details of what you would like us to do to resolve the matter.</li>
          </ul>
          <h3>Acknowledgement</h3>
          <p>We will acknowledge your complaint or feedback within 3 business days.</p>
          <h3>Resolution timeline</h3>
          <p>
            We aim to resolve all complaints within 14 business days. If resolution within this timeframe is not
            possible, we will inform you and provide a clear explanation and an expected timeline for resolution.
          </p>
          <h3>Non-disparagement</h3>
          <p>
            Both parties agree to refrain from publicly disparaging each other, including but not limited to posting
            negative feedback on social media or online review platforms, during and after the term of their agreement.
            Any dissatisfaction should be addressed through the dispute resolution procedure outlined in these terms.
          </p>
          <p>
            If a party violates this non-disparagement agreement, the other party has the following options, at their
            discretion:
          </p>
          <ul>
            <li>Initiate a dispute resolution process to amicably settle the disagreement; or</li>
            <li>
              Pursue legal action to seek remedies, including but not limited to injunctive relief and damages, in
              accordance with applicable laws.
            </li>
          </ul>
          <p>
            This ensures that any disputes are handled in a manner that respects these Terms and the rights of both
            parties.
          </p>
          <h3>Mediation</h3>
          <p>
            Where a dispute cannot be resolved, it will be submitted for mediation in accordance with The Arbitrators
            and Mediators Australian Mediation and Conciliation Rules. Should the dispute be unable to be resolved at
            mediation, you agree to submit to the exclusive jurisdiction of the courts of the State or Territory where
            we are located.
          </p>
          <h2>Submitting content to site and social media</h2>
          <p>
            We always appreciate interaction on our social media channels and feedback about our Site and our services.
            You may be invited to submit a review after you have worked with us, or you can comment on our blog or
            interact with us via our social media channels. We love to hear from you!
          </p>
          <p>Where you do decide to submit such feedback, comments or content, you:</p>
          <ul>
            <li>
              warrant that you are the sole author and owner of the intellectual property and any other rights in that
              content (or have the right to use that content with appropriate consents and permissions);
            </li>
            <li>give us permission to post or otherwise use that feedback on our social media or other channels;</li>
            <li>
              waive any and all existing and future moral rights (as defined in the Copyright Act 1968 (Cth)) in the
              content you provide us with;
            </li>
            <li>warrant that the content does not violate these Terms; and</li>
            <li>warrant that you are at least 18 years old.</li>
          </ul>
          <p>We reserve the right to remove a review or comment if it:</p>
          <ul>
            <li>contains libelous or otherwise unlawful, abusive or obscene material;</li>
            <li>attacks our employees or another contributor;</li>
            <li>contains material that discloses your personal information; or</li>
            <li>is unrelated to the post or content that you have reviewed or commented on.</li>
          </ul>
          <p>
            Our Site and social media channels may feature user reviews of the services as well as blogs by guest
            bloggers. These reviews and the content of the guest blogs in no way represent our views or opinions, but
            are the sole product of their creator. We disclaim all liability with respect to any content submitted by
            any user or guest blogger.
          </p>
          <h2>Competitions</h2>
          <p>
            We may from time to time run competitions through our Site and/or through our social media channels. Your
            participation in those competitions is subject to these Terms and any terms and conditions that are specific
            to each competition
          </p>
          <h2>Testimonials</h2>
          <p>
            On our Site, we present real life examples of and insights into other people’s experiences for illustrative
            purposes only. Any results personally achieved are due to the individuals’ unique situations. These
            testimonials demonstrate what can be possible, but are not intended to represent or guarantee that any
            current or future customers will achieve the same or similar results.
          </p>
          <h2>Prohibited use</h2>
          <p>In addition to any other prohibitions, you must not, under any circumstances:</p>
          <ul>
            <li>
              use our Site or its content for any unlawful purpose, including to solicit others to perform or
              participate in any unlawful acts or violate any international, federal, or state regulations, rules, laws,
              or local ordinances;
            </li>
            <li>
              attempt to change, remove, deface, hack or otherwise interfere with this Site or any material or content
              displayed on our Site;
            </li>
            <li>hack into any aspect of the Site, corrupt data, or cause annoyance to other users;</li>
            <li>infringe upon the rights of any person's proprietary rights;</li>
            <li>send any unsolicited advertising or promotional material, commonly referred to as “spam”; or</li>
            <li>
              attempt to affect the performance or functionality of any computer facilities of or accessed through this
              Site.
            </li>
          </ul>
          <h2>Warranties and disclaimers</h2>
          <p>
            This Site is provided on an “as is” and “as available” basis and to the fullest extent permitted by law we
            make no representations or warranties about our Site and/or our products or services including that:
          </p>
          <ul>
            <li>they are suitable, reliable, complete, secure, accurate or fit for any particular purpose;</li>
            <li>
              access will be free of any harmful components (including viruses) or other code that is harmful or may
              assist in causing harm; or
            </li>
            <li>there is no possibility of failure to store communications or other data.</li>
          </ul>
          <p>
            We make no warranties, expressed or implied, and hereby disclaims and negates all other warranties,
            including without limitation, implied warranties or conditions of merchantability, fitness for a particular
            purpose, or non-infringement of intellectual property or other violation of rights.
          </p>
          <p>
            Further, we do not warrant or make any representations concerning the accuracy, likely results, or
            reliability of the use of the materials on its Internet web site or otherwise relating to such materials or
            on any sites linked to this site.
          </p>
          <h2>Limitation of liability</h2>
          <p>
            To the fullest extent permitted by applicable laws, in no event are we responsible for any losses or
            expenses, however arising, including, without limitation, any direct, indirect and/or present,
            unascertained, future or contingent loss of use, loss of data, loss caused by a virus, loss of income or
            profit or projected profit, loss or damage to property, claims of third parties, or other losses of any kind
            or character arising from or in connection with your use of our Site and/or our products, your inability to
            access our Site, interruption or outage of our Site or any inaccurate, incomplete or out-of-date content
            provided on our Site. Our liability for any breach of a condition or warranty under these Terms shall be
            limited to the extent provided for by the Australian Consumer Law (Schedule 2 of the Competition and
            Consumer Act 2010).
          </p>
          <h2>Our right to be indemnified by you</h2>
          <p>
            To the fullest extent permitted by applicable laws, you agree to indemnify, and hold us and our related
            entities, affiliates, and our and their respective officers, agents and employees harmless from any loss,
            liability, claim, or demand, (including reasonable legal fees on a full indemnity basis), made by any third
            party due to or arising out of your use of this Site in violation of these Terms and/or arising from a
            breach of these Terms and/or any breach of your representations and warranties set out in these Terms or
            your breach of any law or the rights of a third party.
          </p>
          <h2>Breach and termination</h2>
          <p>
            The agreement constituted between us by your use of our Site may be terminated where you breach any
            provision of these Terms, or at any time by us without notice, in which case all disclaimers and limitations
            of liability will survive termination, and you will no longer be authorised to access our Site.
          </p>
          <h2>Severability</h2>
          <p>
            If any term or provision of these Terms is held by a court of competent jurisdiction to be contrary to law,
            said provision will be changed and interpreted so as to best accomplish the objectives of the original
            provision to the fullest extent allowed by law and the remaining provisions of these Terms will remain in
            full force and effect.
          </p>
          <h2>Ceasing our website</h2>
          <p>
            We have the right to discontinue this Site. If we decide to do this, it can be at any time and may be
            without notice to you. We may also exclude any person from using our Site, at any time and at our sole
            discretion. We will not be responsible for any liability you may suffer arising from or in connection with
            any such discontinuance or exclusion.
          </p>
          <h2>Assignment</h2>
          <p>
            We are permitted to assign or otherwise transfer our rights and/or obligations under these Terms without any
            notification or consent required. However, you are not permitted to assign or otherwise transfer your rights
            and/or obligations under these Terms.
          </p>
          <h2>Entire agreement</h2>
          <p>
            These Terms (together with our Privacy Policy) constitute the entire understanding and agreement between us
            and you in relation to your use of this Site and supersede all previous communications, negotiations, and
            agreements, whether oral, written, or electronic, respect to this Site and your use of this Site.
          </p>
          <h2>Governing law and jurisdiction</h2>
          <p>
            These Terms shall be construed in accordance with and governed in all respects by the laws of South
            Australia. In relation to any dispute, we ask that you contact us in the first instance so that both parties
            can, acting in good faith, resolve the dispute to our mutual satisfaction as quickly, cost effectively and
            efficiently as possible. Where a dispute cannot be resolved, you agree to submit to the exclusive
            jurisdiction of the courts of South Australia.
          </p>
        </div>
      </div>
    </div>
  </section>
</DefaultLayout>

<style>
  .terms {
    padding-bottom: var(--space-l-3xl);
  }

  .terms__text {
    font-size: var(--size-step-0);
  }

  .terms__text h2 {
    font-size: var(--size-step-3);
  }

  .terms__text h3 {
    font-size: var(--size-step-2);
  }

  .terms__text ul {
    max-width: 60ch;
  }
</style>
