<div class="accreditation my-16">
  <div class="badges">
    <div class="badge badge__square">
      <a href="https://valeadnetwork.com.au/" target="_blank">
        <img
          src="https://valeadnetwork.com.au/wp-content/uploads/2024/02/Artboard-4_3II.png"
          alt="Badge showing that I am a member of the Virtual Assistant Lead Network."
        /></a
      >
    </div>
    <div class="badge badge__square">
      <a href="https://certifications.asana.com/b6e98579-d1cf-4468-8fb3-7a39c76aa949" target="_blank"
        ><img src="/asana-workflow-specialist.png" alt="Asana Workflow Specialist Certified Badge" /></a
      >
    </div>
    <div class="badge badge__square">
      <a href="https://www.credly.com/badges/005377cf-c6ef-4608-b11c-71db52f00485/public_url" target="_blank"
        ><img src="/make-intermediate.png" alt="Make Intermediate Credly Badge" /></a
      >
    </div>
    <div class="badge badge__square">
      <a
        href="https://api.badgr.io/public/assertions/RpBXnZPITAmMsoGT2JOwJQ?identity__email=laurenkchamps%40gmail.com"
        target="_blank"
        ><img src="/clg-foundations-of-web-dev.png" alt="Code Like a Girl Foundations of Web Dev Badge" /></a
      >
    </div>
    <div class="badge badge__rectangle">
      <a href="https://pros.squarespace.com/blog/work-with-a-circle-member" target="_blank"
        ><img src="/squarespace-circle-gold-member.png" alt="Squarespace Circle Gold Partner Badge" /></a
      >
    </div>
  </div>
</div>

<style>
  .badges {
    display: flex;
    column-gap: var(--space-m);
    row-gap: var(--space-xl);
    flex-direction: column;
    align-items: center;
    padding-top: var(--space-m);
    padding-bottom: var(--space-2xl);
  }

  .badge {
    height: 150px;
  }

  .badge__rectangle {
    aspect-ratio: 5/2;
  }

  .badge__square {
    aspect-ratio: 1/1;
  }

  @media (min-width: 700px) {
    .badges {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }

    .badge {
      width: auto;
      height: 150px;
      overflow-y: hidden;
    }
  }
</style>
