---
import { Icon } from 'astro-icon/components'
---

<section class="cta-section">
  <div class="container">
    <h2>Ready to reduce your mental load and spend more time on growing your business?</h2>
    <div class="btn-container">
      <a class="button has-icon" href="/quote"
        >Let's do it
        <Icon name="arrow-right" />
      </a>
    </div>
  </div>
</section>

<style lang="scss">
  .cta-section {
    background-color: var(--color-mid);
    padding: var(--space-4xl) 0;
  }

  .container {
    display: flex;
    flex-direction: column;
    gap: var(--space-2xl);
  }

  .btn-container {
    display: flex;
    justify-content: end;
  }
</style>
