---
import { Icon } from 'astro-icon/components'

const { name = 'doc-magnifying', title = 'Title' } = Astro.props
---

<div class="feature flex flex-col gap-4">
  <Icon name={name} />
  <div class="content flow">
    <h3 class="text-3xl font-bold">{title}</h3>
    <p>
      <slot>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic, corporis.</slot>
    </p>
  </div>
</div>

<style lang="scss">
  @use '../assets/scss/base/breakpoint' as *;

  .feature {
    position: relative;
    padding: 2rem;
    width: calc(100% - 0.5rem);
    font-size: var(--size-step-0);

    > * {
      position: relative;
      z-index: 2;
    }

    @include breakpoint(large) {
      width: 100%;
    }

    &::before,
    &::after {
      position: absolute;
      content: '';
    }

    &::before {
      z-index: 1;
      inset: 0;
      // box-shadow: 0 0 0 6px var(--neutral-100);
      border: 3px solid var(--color-dark);
      border-radius: 1rem;
      background-color: var(--color-mid);
    }

    &::after {
      z-index: 0;
      inset: 0.5rem -0.35rem -0.35rem 0.5rem;
      border-radius: 1rem;
      background-color: var(--color-dark);
    }
  }

  :global(.feature [data-icon]) {
    width: 4rem;
    height: auto;
    color: var(--color-dark);
  }

  :global(.darkmode .feature::before) {
    border: 3px solid var(--action-color);
    background-color: var(--primary-background);
  }

  :global(.darkmode .feature::after) {
    background-color: var(--action-color);
  }
</style>
