---
import CallToAction from './CallToAction.astro'

const currentYear = new Date().getFullYear()
---

<footer>
  <section class="container py-8">
    <div class="footer__contact">
      <div class="footer__logo"><img src="/horizontal-logo-dk-bg.svg" alt="Lauren Champs" /></div>
      <p><a href="mailto:hello@laurenchamps.com">hello@laurenchamps.com</a></p>
      <p>📍Kaurna Yarta | Adelaide, Australia</p>
    </div>

    <div class="footer__acknowledgement flow">
      <small
        >I live and work on the stolen lands of the Kaurna people. I pay my respects to Kaurna Elders past and present,
        and acknowledge the deep and ongoing connection the Kaurna people have to their land, water and cultural
        practices. I acknowledge all Indigenous peoples around the world whose lands and cultures have been devastated
        by colonisation.
      </small>
    </div>
    <div class="footer__copyright flow">
      <small>
        &copy; Lauren Champs {currentYear} | <a href="/privacy">Privacy</a> | <a href="/terms">Terms</a><br />Website
        built by me with <a href="https://astro.build/">Astro</a>
      </small>
    </div>
  </section>

  <style>
    footer {
      background-color: var(--color-dark);
      padding-block: var(--space-2xl);
      color: var(--color-light);
      font-size: var(--size-step-0);
    }

    .container {
      display: grid;
      grid-template-rows: 1fr min-content;
      grid-template-columns: repeat(2, 1fr);
      gap: var(--space-xl) var(--space-2xl);
    }

    .footer__acknowledgement {
      grid-row: 1/-1;
      grid-column: 2/-1;
      align-content: end;
    }

    .footer__acknowledgement p {
      max-width: 45ch;
    }

    .footer__copyright {
      grid-column: 1/2;
    }

    .footer__logo {
      max-width: 200px;
    }

    /* @media (max-width: 700px) {
      .container {
        grid-template-columns: 1fr;
      }

      .footer__acknowledgement {
        grid-column-start: 1;
      }

      .footer__contact {
        grid-row-start: 1;
      }
    } */

    @media (max-width: 700px) {
      .container {
        display: flex;
        flex-direction: column;
      }
    }
  </style>
</footer>
