---
import { Icon } from 'astro-icon/components'

const { src = '/lc-headshot-blob.jpg' } = Astro.props
---

<section class="about-section">
  <div class="container">
    <div class="switcher">
      <div class="flow">
        <slot />
        <a class="button has-icon align-right" href="/about"
          >Read on
          <Icon name="arrow-right" />
        </a>
      </div>
      <div>
        <img src="/laptop-and-plants-sq.jpg" alt="" decoding="async" />
      </div>
    </div>
  </div>
</section>

<style lang="scss">
  .about-section {
    background-color: var(--color-mid);
    padding: var(--space-4xl) 0;
    --gutter: var(--space-2xl);
  }

  .text-gradient {
    background: linear-gradient(315deg, var(--primary-400) 25%, var(--primary-500));
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  :global(.darkmode .text-gradient) {
    background: linear-gradient(315deg, var(--secondary-100) 25%, var(--secondary-200));
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
</style>
