---
import { Icon } from 'astro-icon/components'

const { src = '/lc-headshot-blob.jpg' } = Astro.props
---

<section class="hero my-24">
  <div class="container">
    <div class="grid grid-cols-3 items-center gap-12">
      <img class="hidden lg:block" src="/laptop.jpeg" alt="" decoding="async" />
      <div class="col-span-2 ml-24 flex flex-col items-start gap-8 md:items-start">
        <h2 class="text-center text-3xl md:text-left lg:text-6xl">
          <slot>Hello, I'm Lauren.</slot>
        </h2>
        <p class="text-xl">
          I'm a virtual assistant specialising in systems and automation based in Adelaide. I love collaborating with
          small business owners to streamline their operations and get things done.
        </p>
      </div>
    </div>
  </div>
</section>

<style lang="scss">
  .text-gradient {
    background: linear-gradient(315deg, var(--primary-400) 25%, var(--primary-500));
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  :global(.darkmode .text-gradient) {
    background: linear-gradient(315deg, var(--secondary-100) 25%, var(--secondary-200));
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
</style>
