---
import { Icon } from 'astro-icon/components'

const { src = '/lc-headshot-blob.jpg' } = Astro.props
---

<section class="hero my-24">
  <div class="container">
    <div class="grid grid-cols-3 items-center gap-12">
      <div class="col-span-2 flex flex-col items-center gap-8 md:items-start">
        <h1 class="text-center text-4xl md:text-left lg:text-6xl">
          <slot
            ><span class="text-gradient">Hi there,</span> I'm Lauren - your systems and automation go-to<span
              class="color__accent">.</span
            ></slot
          >
        </h1>
        <p class="text-2xl">
          I help business owners systemise their processes so they can spend less time on admin and more time on what
          really matters.
        </p>
        <div class="flex flex-col gap-3 min-[500px]:flex-row">
          <a class="button has-icon color-primary" href="#">
            Contact me
            <Icon name="ion:arrow-forward-sharp" />
          </a>
        </div>
      </div>
      <!-- <img class="hidden lg:block" src={src} alt="" decoding="async" /> -->
    </div>
  </div>
</section>

<style lang="scss">
  .text-gradient {
    background: linear-gradient(315deg, var(--primary-200) 25%, var(--secondary-500));
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  :global(.darkmode .text-gradient) {
    background: linear-gradient(315deg, var(--primary-200) 25%, var(--secondary-400));
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
</style>
