---
import { Icon } from 'astro-icon/components'
---

<div class="masthead">
  <div class="masthead__content container">
    <h1 class="masthead__heading">
      Systems strategy and workflow automation for small business owners who want to reclaim their time.
    </h1>
    <p class="subhead masthead__subhead">
      Helping you get your back of house in order and level up your client experience.
    </p>
    <div class="masthead__btngrp btngrp">
      <a class="button has-icon" href="#">
        Let's chat
        <Icon name="arrow-right" />
      </a>
    </div>
  </div>

  <style>
    .masthead {
      height: calc(100vh - 10rem);
    }

    .masthead__content {
      display: grid;
      grid-template-rows: 10% minmax(min-content, 16rem) minmax(min-content, 16rem) 1fr;
      gap: 2.5em 1.5vi;
      height: 100%;
    }

    .masthead__heading {
      grid-row: 2/3;
    }

    .masthead__btngrp {
      grid-row: 3/-1;
      justify-content: start;
    }

    /* .masthead__heading {
      grid-column: 1/-1;
      align-self: end;
      margin-block-start: var(--space-m-xl);
    } */

    .masthead__subhead {
      grid-row-start: 3;
      /* grid-column: 1/-1; */
    }

    .bg-img {
      position: relative;
      background: url(laptop-and-plant.jpeg) no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      isolation: isolate;
    }

    .bg-img::after {
      position: absolute;
      opacity: var(--bg-opacity);
      z-index: -1;
      inset: 0;
      background-color: var(--bg-color);
      content: '';
    }
  </style>
</div>
