---
import { Icon } from 'astro-icon/components'
---

<div class="masthead">
  <div class="masthead__content container">
    <div class="masthead__heading flow">
      <p class="subhead">Hi, I'm Lauren</p>
      <h1>I help small business owners streamline systems and turn chaos into calm.</h1>
    </div>
    <div class="masthead__photo">
      <img
        class="masthead__img image"
        src="lauren-headshot-2.jpg"
        alt="Lauren Champs sitting at her desk and smiling at the camera"
      />
    </div>
    <!-- <p class="subhead masthead__subhead">
      Helping you get your back of house in order and level up your client experience.
    </p> -->
    <!-- <div class="masthead__btngrp btngrp">
      <a class="button has-icon" href="#">
        Let's chat
        <Icon name="arrow-right" />
      </a>
    </div> -->
  </div>

  <style>
    .masthead {
      background-color: var(--color-mid);
      padding: var(--space-2xl) (--space-m);
    }

    .subhead {
      max-width: 50ch;
    }

    .masthead__content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 2rem;
      padding-top: var(--space-xl);
    }

    .masthead__img {
      border-radius: var(--radius-m);
      max-height: 25rem;
    }

    .masthead__photo {
      padding-bottom: var(--space-xl);
    }

    @media (min-width: 900px) {
      .masthead__content {
        display: grid;
        grid-template-rows: 10% minmax(min-content, 16rem) minmax(min-content, 16rem) 1fr;
        grid-template-columns: 1fr minmax(min-content, 20rem);
        gap: 2.5em 2.7vi;
        padding-top: 0;
        height: 100%;
      }

      .masthead {
        height: calc(100vh - 10rem);
      }

      .masthead__heading {
        grid-row: 2/3;
      }

      .masthead__photo {
        grid-row-end: 3;
        grid-column: 2;
        padding-bottom: 0;
      }

      .masthead__btngrp {
        grid-row: 3/-1;
        justify-content: start;
      }

      .masthead__subhead {
        grid-row-start: 3;
        /* grid-column: 1/-1; */
      }
    }

    /* .masthead__heading {
      grid-column: 1/-1;
      align-self: end;
      margin-block-start: var(--space-m-xl);
    } */

    /* .bg-img {
      position: relative;
      background: url(laptop-and-plant.jpeg) no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      isolation: isolate;
    }

    .bg-img::after {
      position: absolute;
      opacity: var(--bg-opacity);
      z-index: -1;
      inset: 0;
      background-color: var(--bg-color);
      content: '';
    } */
  </style>
</div>
