---
import { Icon } from 'astro-icon/components'

const { name = 'Name', title = 'Title', image = '/laptop-and-plants-sq.jpg', alt = '' } = Astro.props
---

<div class="testimonial flex flex-col gap-4">
  <div class="content flow">
    <div class="avatar">
      <img src={image} alt={name} />
    </div>
    <div class="testimonial__content">
      <slot />
      <div class="testimonial__meta">
        <p class="testimonial__name">{name}</p>
        <p class="testimonial__role">{title}</p>
      </div>
    </div>
  </div>
</div>

<style lang="scss">
  @use '../assets/scss/base/breakpoint' as *;

  .testimonial {
    position: relative;
    width: calc(100% - 0.5rem);
    font-size: var(--size-step--1);

    .testimonial__name {
      font-weight: 700;
      font-size: var(--size-step-0);
    }

    .testimonial__role {
      font-weight: 500;
      font-size: var(--size-step--1);
      letter-spacing: var(--uppercase-tracking);
      text-transform: uppercase;
    }

    .testimonial__content {
      padding: 3.6rem 3.6rem 2rem 3.6rem;
    }

    .testimonial__meta {
      margin-top: 2rem;
    }

    .avatar {
      position: absolute;
      top: -45px;
      left: calc(50% - 45px);
      width: 90px;
      height: 90px;
    }

    .avatar img {
      border-radius: 100%;
      width: 90px;
      height: 90px;
    }

    > * {
      position: relative;
      z-index: 2;
    }

    @include breakpoint(large) {
      width: 100%;
    }

    &::before,
    &::after {
      position: absolute;
      content: '';
    }

    &::before {
      z-index: 1;
      inset: 0;
      // box-shadow: 0 0 0 6px var(--neutral-100);
      border: 3px solid var(--color-dark);
      border-radius: 1rem;
      background-color: var(--color-mid);
    }

    // &::after {
    //   z-index: 0;
    //   inset: 0.5rem -0.35rem -0.35rem 0.5rem;
    //   border-radius: 1rem;
    //   background-color: var(--color-dark);
    // }
  }

  :global(.testimonial [data-icon]) {
    width: 4rem;
    height: auto;
    color: var(--color-dark);
  }

  :global(.darkmode .testimonial::before) {
    box-shadow: 0 0 0 6px var(--primary-background);
    background-color: var(--primary-background);
  }
</style>
