---
import { Icon } from 'astro-icon/components'

const { icon = 'speech-bubbles', name = 'Name', title = 'Title' } = Astro.props
---

<div class="testimonial flex flex-col gap-4">
  <Icon name={icon} />
  <div class="content flow">
    <slot>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic, corporis.</slot>
    <div>
      <h3 class="testimonial__name">{name}</h3>
      <p class="testimonial__role">{title}</p>
    </div>
  </div>
</div>

<style lang="scss">
  @use '../assets/scss/base/breakpoint' as *;

  .testimonial {
    position: relative;
    padding: 2rem;
    width: calc(100% - 0.5rem);
    font-size: var(--size-step--1);

    .testimonial__name {
      font-weight: 700;
      font-size: var(--size-step-0);
    }

    .testimonial__role {
      font-weight: 500;
      font-size: var(--size-step--1);
      letter-spacing: var(--uppercase-tracking);
      text-transform: uppercase;
    }

    > * {
      position: relative;
      z-index: 2;
    }

    @include breakpoint(large) {
      width: 100%;
    }

    &::before,
    &::after {
      position: absolute;
      content: '';
    }

    &::before {
      z-index: 1;
      inset: 0;
      // box-shadow: 0 0 0 6px var(--neutral-100);
      border: 3px solid var(--accent-secondary);
      border-radius: 1rem;
      // background-color: var(--accent-primary);
    }

    &::after {
      z-index: 0;
      inset: 0.5rem -0.35rem -0.35rem 0.5rem;
      border-radius: 1rem;
      background-color: var(--accent-secondary);
    }
  }

  :global(.testimonial [data-icon]) {
    width: 4rem;
    height: auto;
    color: var(--action-color);
  }

  :global(.darkmode .testimonial::before) {
    box-shadow: 0 0 0 6px var(--primary-background);
    background-color: var(--primary-background);
  }
</style>
